<div class="row mx-0">
    <div class="col-md-10 mx-auto">
        <nz-page-header (nzBack)="onBack()" nzBackIcon class="site-page-header px-0" nzTitle="Container stats"
            [nzSubtitle]="container?.Names[0]">

            <!-- <nz-page-header-extra>
                <label>Refresh Interval :</label>
                        <nz-select class="mx-4" [(ngModel)]="sec_interval" (ngModelChange)="registerRefresh($event)">
                            <nz-option *ngFor="let interval of [5,10,15,20,30,60]" [nzValue]="interval" nzLabel="{{interval}}s">
                            </nz-option>
                        </nz-select> 
            </nz-page-header-extra> -->
        </nz-page-header>
    </div>
    <div class="col-md-4">
        <canvas baseChart width="400" height="300" [data]="lineChartData" [options]="lineChartOptions"
            type="line"></canvas>
    </div>
    <div class="col-md-4">
        <canvas baseChart cpuChart width="400" height="300" [data]="lineChartData2" [options]="lineChartOptions"
            type="line"></canvas>
    </div>
    <div class="col-md-4">
        <canvas baseChart network width="400" height="300" [data]="lineChartData3" [options]="lineChartOptions"
            type="line"></canvas>
    </div>
</div>