<div class="row mx-0">
    <div class="col-md-10 mx-auto">
        <nz-page-header (nzBack)="onBack()" nzBackIcon class="site-page-header px-0" nzTitle="Container terminal"
            [nzSubtitle]="container?.Names[0]">

            <nz-page-header-extra>
                <button class="mx-4" nz-button nzType="primary"><span nz-icon nzType="download" nzTheme="outline"></span> Download logs </button>
            </nz-page-header-extra>
        </nz-page-header>
        <div class="code p-4">
            <div id="terminal"></div>
        </div>
    </div>
</div>