.container {
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
}

.errorBox {
    font-size: 20px;
    margin-bottom: 2%;
    color: #F8ba16;
}

.errorPolice {
  opacity: 80%;
  margin-bottom: 10%;
}