<div class="row m-5">
    <div class="col-md-10 card p-4">
        <div class="bordered pb-3 rounded">
            <script>
                    
            </script>

            <div class="liste d-inline" *ngFor="let check of checks">
                <div class="check" [class.bg-danger]="!check.up" [class.bg-success]="check.up">
                    &nbsp;
                </div>
            </div>

            <canvas baseChart width="600" height="200" [data]="lineChartData" [options]="lineChartOptions" type="line"></canvas>
    </div>
</div>