<nav class="navbar navbar-expand-sm navbar-light bg-white px-md-4 px-2 py-0">
    <a class="navbar-brand" routerLink="/"><img src="../../../assets/logo.png" class="logo" width="60" /></a>
    <div class="collapse navbar-collapse d-none d-md-block" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <div class="d-inline">
            
          
                <button nz-button nzType="primary">Connexion</button>
        </div>
    </div>
    <div class="float-right d-inline d-md-none mobile-menu">
        <div class="d-inline">

           
        </div>
    </div>

</nav>