<div class="row mx-0 mt-5">
    <div class="col-md-11 mx-auto">
        <nz-page-header class="site-page-header px-0" nzTitle="Reverse Proxy" nzSubtitle="Traefik configuration">
            <nz-page-header-content>
                <!-- <nz-alert nzType="warning" nzMessage="Warning"
                    nzDescription="This is a warning notice about copywriting." nzShowIcon></nz-alert> -->
                <!-- <nz-steps [nzCurrent]="currentStep">
                    <nz-step nzTitle="DNS configuration"></nz-step>
                    <nz-step nzTitle="In Progress"></nz-step>
                    <nz-step nzTitle="Waiting"></nz-step>
                </nz-steps>

                <div class="steps-content">
                    <div *ngIf="currentStep == 0">
                        Before using Traefik you must open port 443 and 80 on your firewall
                    </div>
                </div>
                <div class="steps-action">
                    <button nz-button nzType="default" (click)="currentStep = currentStep-1" *ngIf="currentStep > 0">
                        <span>Previous</span>
                    </button>
                    <button nz-button nzType="default" (click)="currentStep = currentStep+1" *ngIf="currentStep < 2">
                        <span>Next</span>
                    </button>
                    <button nz-button nzType="primary" *ngIf="currentStep === 2">
                        <span>Done</span>
                    </button>
                </div> -->
            </nz-page-header-content>
            <nz-page-header-extra>
                <div class="d-flex flex-row-reverse my-3">

                </div>
            </nz-page-header-extra>
        </nz-page-header>
        <div class="row">
            <div class="col-12">
                <label class="mt-3">Enable Traefik : </label><br />
                <nz-switch [nzLoading]="loading" (ngModelChange)="toggleReverseProxy($event)" [(ngModel)]="isActivated"></nz-switch>
                
            </div>
        </div>
    </div>
</div>