<div class="row mx-5 mb-5">
    <div class="col-md-10 card p-4">
        <div class="bordered pb-3 rounded">
            <div class="row">
                <div class="col-10">
                    <div class="liste d-inline" *ngFor="let check of checks">
                        <div class="check" [class.bg-danger]="!check.up" [class.bg-success]="check.up">
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="col">
                    <nz-tag nzColor="#59a847" *ngIf="(site.checks[site.checks.length -1] || {}).up">EN LIGNE</nz-tag>
                    <nz-tag nzColor="#e9494c" *ngIf="site.checks.length == 0">HORS LIGNE</nz-tag>
                </div>
            </div>
        </div>
        <p class="verify">Check every 60 seconds</p>
    </div>
</div>