<div class="row m-5">
    <div class="col-md-3 card p-4">
        <div class="bordered pb-3 rounded">
            <nz-input-group class="w-50 float-right" [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="Rechercher" />
            </nz-input-group>
            
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template>
        </div>

        <div class="liste" *ngFor="let site of sites">
            <div class="col-md-12">
                {{site.name}} {{site.url}}
                <nz-progress [nzPercent]="site.disponibility" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }">
                </nz-progress>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <button nz-button class=" mr-2 px-3" nzType="primary">En pause</button>
        <button nz-button class="mr-2 px-3" nzType="default">Modifier</button>
        <button nz-button class="mr-2 px-3" nzType="primary" nzDanger>Supprimer</button>
    </div>
</div>