<div class="row m-5">
    <div class="col-md-3 card p-4">
        <div class="bordered pb-3 rounded">
            <nz-input-group class="w-50 float-right" [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="Search" />
            </nz-input-group>

            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template>
        </div>

        <div class="liste" *ngFor="let site of sites">
            <div class="pointer" (click)="currentSite = site">
                
                <div class="col-md-4" >
                    {{site.name}}
                    <nz-tag [nzColor]="'#F8ba16'">{{site.disponibility | number:'1.0-0'}} %</nz-tag>   
                </div>
                
                <div class="col-md ">
                    <nz-progress [nzPercent]="site.disponibility" [nzStrokeColor]="{ '0%': '#FCE29C', '100%': '#F8ba16' }"></nz-progress>
                </div>
            </div>
            <nz-divider></nz-divider>
        </div>

    </div>

    <div class="col-md-9">
        <div class="nameApi" *ngIf="currentSite">
            <div class="d-inline">
                <h1 class="nameSite mb-1">{{currentSite.name}} </h1>
                <span class="text-muted">{{currentSite.url}}</span>
            </div>
            
        </div>

        <!-- <div class="nameApi">
            <button nz-button class="mr-2 px-3" nzType="primary">On break</button>
            <button nz-button class="mr-2 px-3" nzType="default">Modify</button>
            <button nz-button class="mr-2 px-3" nzType="primary" nzDanger>Delete</button>
        </div> -->

        <div *ngIf="currentSite">
            <app-status [site]="currentSite"></app-status>
            <app-stats [site]="currentSite"></app-stats>
            <app-chart [site]="currentSite"></app-chart>
        </div>
    </div>
</div>

