.input {
    border-color: #F38C1C;
    border-radius: 10%
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #F38C1C;
    margin: 1em 0; padding: 0; }

.liste {
   color: #F8ba16;
   font-weight: bold;
}

.liste2 {
    color: #F8ba16;
    font-weight: bold;
    font-size: 35px;
 }
 .bordered{
     border-bottom: 1px solid #eaeaea;
 }

 .card{
     border:  none !important;
     box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
 }

