<nz-layout class="layout">
    <nz-sider nzCollapsible [nzCollapsed]="mobile ? true : false" [nzWidth]="290" [nzCollapsedWidth]="mobile ? 0 : 80">
        <ul nz-menu nzMode="inline" class="w-100 sailec">
            <li class="mt-0" nz-menu-item routerLink="/dashboard"><i nz-icon nzType="home"
                    nzTheme="outline"></i><span>Dashboard</span></li>
            <li [nzDisabled]="true" class="mt-0 text-center w-100 d-block" nz-menu-item routerLink="dashboard">
                {{currentEnvironment?.name}}
            </li>
            <li class="mt-0" nz-menu-item routerLink="containers"><span nz-icon nzType="appstore-add"
                    nzTheme="outline"></span><span>Containers</span></li>
            <li class="mt-0" nz-menu-item routerLink="images"><span nz-icon nzType="tag"
                    nzTheme="outline"></span><span>Images</span></li>
            <li class="mt-0" nz-menu-item routerLink="networks"><span nz-icon nzType="deployment-unit"
                    nzTheme="outline"></span><span>Networks</span></li>
            <li class="mt-0" nz-menu-item routerLink="volumes"><span nz-icon nzType="database"
                    nzTheme="outline"></span><span>Volumes</span></li>


            <li nz-submenu nzTitle="Availability & SLO" nzIcon="shopping" nzOpen>
                <ul>
                    <li nz-menu-item routerLink="lessons">Services</li>
                </ul>
            <li nz-submenu nzTitle="Settings" nzIcon="setting" nzOpen>
                <ul>
                    <li nz-menu-item routerLink="settings/endpoints">
                        Environnements</li>
                    <li nz-menu-item routerLink="settings/users">
                        Users management</li>
                </ul>
            </li>
            <li class="mt-0" nz-menu-item (click)="signout()"><i nz-icon nzType="api"
                    nzTheme="outline"></i><span>Déconnexion</span></li>
        </ul>
    </nz-sider>

    <nz-content style="overflow: auto; max-height: calc(100vh - 74px);">
        <div class="body pb-3">
            <router-outlet></router-outlet>
        </div>
    </nz-content>

</nz-layout>