<p>stats works!</p>
<div class="row m-5">
    <div class="col-md-10 card p-4">
        <div class="bordered pb-3 rounded"> 
            <div class='container'>
                <div class='element'>
                    <div class='element1'>Temps de réponse</div>
                    <div class='element2'>(Actuellement)</div>
                    <div>value</div>
                </div>
                <div class='element'>
                    <div class='element1'>Réponse moyenne</div>
                    <div class='element2'>(24 heures)</div>
                    <div>Value</div>
                </div>
                <div class='element'>
                    <div class='element1'>Uptime</div>
                    <div class='element2'>(24 heures)</div>
                    <div>Value</div>
                </div>
                <div class='element'>
                    <div class='element1'>Uptime</div>
                    <div class='element2'>(30 jours)</div>
                    <div>Value</div>
                </div>
                <div class='element'>
                    <div class='element1'>Expiration SSL</div>
                    <div class='element2'>(Date expiration SSL)</div>
                    <div>Value</div>
                </div>
            </div>
        </div>
    </div>
</div> 